@charset "ISO-8859-1";

.search-bar {
	background-color: #0d6efd; /* Bootstrap Primary Blau */
	padding: 15px;
}

.search-bar .form-control, .search-bar .form-select {
	border-radius: 20px;
}

.sidebar {
	background-color: #f8f9fa;
	min-height: 100vh;
	padding: 20px;
	border-right: 1px solid #dee2e6;
}

.sidebar h6 {
	font-weight: bold;
	margin-top: 20px;
}

.filter-item {
	margin-bottom: 5px;
}

.sidebar-link {
    text-decoration: none;   /* kein Unterstrich */
    color: black;          /* übernimmt die Textfarbe vom Parent */
}

.sidebar-link:hover {
    text-decoration: underline; /* Unterstrich erst beim Hover */
}